/* Resume.css */

body {
  font-family: "Arial", sans-serif;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

.resume-container {
  max-width: 800px;
  margin: auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 36px;
  margin-bottom: 5px;
}

header h2 {
  font-size: 24px;
  color: #555;
  margin-bottom: 5px;
}

header p {
  font-size: 16px;
  color: #888;
}

header a {
  color: #007bff;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

section {
  margin-bottom: 20px;
}

section h3 {
  font-size: 22px;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #333;
}

section p,
section ul {
  margin: 0 0 10px 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 10px;
}

.job h4 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
}

.skills ul li,
.education ul li {
  font-size: 16px;
}

.projects ul li {
  margin-bottom: 15px;
}

.projects ul li strong {
  font-weight: bold;
}

.projects ul li br {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .resume-container {
    padding: 15px;
  }

  header h1 {
    font-size: 28px;
  }

  header h2 {
    font-size: 20px;
  }

  header p,
  section h3 {
    font-size: 18px;
  }

  section h3 {
    font-size: 20px;
  }
}

.job-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.job-position {
  flex: 1;
  text-align: left;
}

.company-name {
  flex: 1;
  text-align: center;
  color: #007bff;
  text-decoration: none;
}

.company-name:hover {
  text-decoration: underline;
}

.job-dates {
  flex: 1;
  text-align: right;
  color: #555;
}

.logo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}
